@media screen and (min-width:900px) {
    footer{
        .footer-container__contact{
            max-width: 1440px;
            margin: auto;
            display: grid;
            grid-template-areas: "title text text" "foto form buttons";
            grid-template-rows: 1fr 5fr;
            grid-template-columns: 3fr 6fr 1fr;
            justify-items: center;
            height:70vh;
            padding: 0 2rem;
            padding-top: 1rem;
            background: transparent;
            position: relative;
            //IMAGE
            .footer-container__contact__img{
                grid-area: foto;
                background-color: transparent;
                position: relative;
                .aymi_img{
                    margin: 0;
                    padding: 0;
                    box-shadow: 10px 10px 21px 1px rgba(0,0,0,0.22);
                    -webkit-box-shadow: 10px 10px 21px 1px rgba(0,0,0,0.22);
                    -moz-box-shadow: 10px 10px 21px 1px rgba(0,0,0,0.22);
                }

                .mancha{
                    position: absolute;
                    width:50%;
                    bottom: 4rem;
                    left: -4rem;
                }

                .decoration{
                    contain: "";
                    position: absolute;
                    width: 100%;
                    height: 70%;
                    background-color: #fff;
                    z-index: -1;
                    top: 5%;
                    left: -10%;
                }
            }

            //TEXT
            .footer-container__contact__text{
                grid-area:text;
                justify-self: left;
                margin-left: 2.1rem;
                p{
                    text-align: left;
                    font-size: 2.5rem;
                }
            }
            
            //FORM
            .footer-container__contact__form{
                    width: 100%;
                    height: 90%;
                    grid-area: form;
                    display: grid;
                    grid-template-areas: "name lastname" "email email" "msg msg" "btn btn";
                    background-color: $secondaryColor;
                    margin: 2.4rem;
                    padding: 2rem;
                    box-shadow: 10px 10px 21px 1px rgba(0,0,0,0.22);
                    -webkit-box-shadow: 10px 10px 21px 1px rgba(0,0,0,0.22);
                    -moz-box-shadow: 10px 10px 21px 1px rgba(0,0,0,0.22);
                    input,textarea{
                        outline: none;
                        border:none;
                        border-radius: 2px;
                        width: 100%;
                        padding: 1rem;
                    }
                    label{
                        text-align: start;
                        margin: 0;
                        padding: 0;
                    }
                    .footer-container__contact__form__name{
                        grid-area: name;
                        align-self: left;
                        padding-right: .5rem;
                        
                    }

                    .footer-container__contact__form__lastname{
                        grid-area: lastname;
                        padding-left: .5rem;
                    }

                    .footer-container__contact__form__email{
                        grid-area: email;
                    }
                    .footer-container__contact__form__msg{
                        grid-area: msg;
                    }
                    .footer-container__contact__form__send{
                        grid-area: btn;
                        max-width: 100%;
                        justify-self: right;
                        cursor: pointer;
                        font-size: 2rem;
                        margin: 0;
                        padding: 0;
                        box-shadow: 10px 10px 21px 1px rgba(0,0,0,0.22);
                        -webkit-box-shadow: 10px 10px 21px 1px rgba(0,0,0,0.22);
                        -moz-box-shadow: 10px 10px 21px 1px rgba(0,0,0,0.22);
                    }
            }
            
            //TITLE
            .contact-container__title{
                grid-area: title;
                position: relative;
                justify-self: left;
                align-self: center;
                margin-left: 5%;
                img{
                    top: -4vh;
                    left: 0;
                    position: absolute;
                    width: 100%;
                    z-index: -1;
                }
    
            }
            //BUTTONS
            .footer-container__contact__buttons{
                grid-area: buttons;

                display: grid;
                grid-template-areas: "instagram" "whp" "..." "arrow";
                margin-top: 2.5rem;
                height: 80%;
                img{
                    width: 50px;
                    background: #fff;
                    border-radius: 50px;
                    border: solid 2px #000;
                    padding: 5px;
                    margin-bottom: 2rem;
                    transition: all ease-in-out .2s;

                    &:hover{
                        scale: 1.1;
                    }
                }

                .footer-container__contact__button-to-top{
                    align-self: end;
                    margin-bottom: -13.9rem;
                }


    
            }
            //BACKGROUND
            .background{
                width: 100%;
                height: 100%;
                content: "";
                background-color: $primaryColor;
                position: absolute;
                top: 0;
                z-index: -10;
            }
        }
    }
}