@media screen and (min-width:900px){
    main{
        .main-container{
            max-width: 1440px;
            margin: auto;
            .main-container__about-me{
                max-width: 1440px;
                min-height: 70vh;
                display: grid;
                grid-template-areas: "foto texto";
                grid-template-columns: 1fr 2fr;
                padding: 5rem;
                position: relative;
                min-height: 50vh;
                flex-wrap: wrap;

                .main-container__about-me__photo{
                    grid-area: foto;
                    display: flex;
                    align-items: flex-start;
                    z-index: 20;
                    height: 100%;
                    img{
                        width:45rem;
                        z-index: -1;

                    }

                    .about-me__title-decoration{
                        position: relative;
                        z-index: 1000;
                    }

                    .mancha-rosa{
                        position: absolute;
                        width:15rem;
                        z-index: -1;
                        top: -2rem;
                    }
                }

                .main-container__about-me__text{
                    z-index: 2000;
                    display: flex;
                    align-items: center;
                    padding-top: 10%;
                    p{
                        grid-area: texto;
                    }
                }

                .deco-1{
                    position: absolute;
                    contain:"";
                    height:80%;
                    width: 100%;
                    top:15%;
                    background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.05) 68.53%);
                    backdrop-filter: blur(16px);
                    z-index: 10;
                    border-radius: .5rem;
                }

                .sticker{
                    position: absolute;
                    top: -8rem;
                    right: 0;
                }
            }
        }
    }
}
