.main-container__about-me {
    background-color: $blackColor;
    
    .main-container__about-me__photo {
        max-width: 90%;
        display: flex;
        margin: 0 auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h2 {
            font-size: 4rem;
            font-weight: bold;
            color: $whiteColor;
            text-align: center;
            margin: 2rem 0;
        }
    }

    .main-container__about-me__text p {
        color: $whiteColor;
        text-align: left;
        margin: 0 auto;
        padding: 2rem 0;
        max-width: 70%;
        font-size: 2rem;
    }
}