.dropdown{
    max-width: 1440px;
    .dropdown__body__carrousel{
        position: relative;
        width: 100%;
        .carrousel-container{
            display: flex;
            .carrousel__list{
                overflow: hidden;

                .carrousel__element{
                    max-width: 600px;
                    margin: 0;
                    height: 100%;
                    width: auto;
                    padding: 1rem;
                    img{
                        width:500px;
                        height: 100%;
                    }
                }
            }

            //BUTTONS
            .carrousel__button-preview,
            .carrousel__button-next{
                display:block;
                width: 80px !important;
                height: 80px;
                border: none;
                position: absolute;
                top:calc(50% - 50px);
                font-size: 5rem;
                background:none;
                color: #fff;
                opacity: .8;
                cursor: pointer;

                &:hover{
                    opacity: 1;
                   
                }
            }
        
            .carrousel__button-preview{
                left: 0;
                z-index: 100;
            }
            .carrousel__button-next{
                right: 0;
            }
        }
    }
}



