.header-container {
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $whiteColor;
    padding: 2rem;

    .header-container__hamburguer {
        font-size: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header-container__links {
        display: none;
    }


    .header-container__marca {
        img {
            width: 14rem;
            height: 14rem;
        }
    }

    .header-container__logo {
        img {
            width: 3.5rem;
            height: 3.5rem;
            display: flex;
        }
    }

}